<%% current ||= nil %>
<li <%%= raw "class='#{page_listing_item_classes(page, current).join(' ')}'"%>>
  <%%= link_to <%= singular_model_name %>.title, edit_<%= singular_model_name %>_path(<%= singular_model_name %>)%>
  <div class="mo">
    <%%= button_to '', <%= singular_model_name %>_path(<%= singular_model_name %>), method: :delete, class: "ico-mini-delete", title: t('.destroy') %>
    <%%= button_to <%= singular_model_name %>_path(<%= singular_model_name %>), method: :put, class: "ico-mini-show-hide", title: (<%= singular_model_name %>.draft ? t('.show') : t('.hide')) do %>
      <%% fields_for <%= singular_model_name %> do |f| %>
        <%%= f.hidden_field :draft, value: (<%= singular_model_name %>.draft ? "0" : "1") %>
      <%% end %>
    <%% end %>
  </div>
  <%%= render partial: '<%= singular_model_name %>_listing_item', collection: <%= singular_model_name %>.children, as: '<%= singular_model_name %>', layout: '<%= singular_model_name %>_listing', locals: { current: current } unless <%= singular_model_name %>.children.blank? %>
</li>
