<% filter = begin
  render 'filter'
  rescue ActionView::MissingTemplate
   ''
end %>

<% search = begin
  render 'search'
  rescue ActionView::MissingTemplate
    ''
end %>

<div class="tool-bar">
  <a href="#" id="js-expand-col-2" class="btn-square ico-expand" title="Expand page listing"></a>
  <a href="#" id="js-collapse-to-minimun" class="btn-square ico-close" title="Close page listing"></a>
  <%= link_to '', '#', id: "js-filter", class: "btn-square ico-filter", title: I18n.t('.filter') unless filter.blank? %>
  <%= link_to '', '#', id: "js-search", class: "btn-square ico-search", title: I18n.t('.search') unless search.blank? %>
  <%= link_to '', url_for(action: :new), title: t('.new'), class: 'btn-square right ico-add accent', id: 'js-add-new' %>
</div>

<% unless search.blank? %>
  <div class="search-bar">
    <%= search %>
  </div>
<% end %>

<% unless filter.blank? %>
  <div class="filter-bar">
    <%= filter %>
  </div>
<% end %>

