<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= t '.cms_title' %></title>

  <%= favicon_link_tag 'no_cms/admin/favicon.ico' %>
  <%= favicon_link_tag 'no_cms/admin/favicon.png', type: 'image/png' %>
  <%= favicon_link_tag 'no_cms/admin/favicon_iOS.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">

  <%= stylesheet_link_tag  "no_cms/admin/application", media: "all" %>
  <%= yield :stylesheets %>
  <%= render 'no_cms/admin/shared/extra_stylesheets' %>

  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>

<% second_menu = yield :second_menu %>

<body>

<section id="content-area">
  <%= yield %>
</section>


<section id="interface">
  <header id="main-header">
    <%= render 'no_cms/admin/shared/main_header' %>
  </header>

  <aside id="col-1">
    <div class="tool-bar">
      <%= render 'no_cms/admin/shared/locales' %>

    </div>
    <div class="content">
      <%= render partial: 'no_cms/admin/shared/menu_item', collection: NoCms::Admin.menu_items, layout: 'no_cms/admin/shared/menu_items', as: :menu_item, locals: { current: @current_section } %>
    </div>
  </aside>

  <aside id="col-2">
    <%= render 'no_cms/admin/shared/secondary_menu_toolbar' %>
    <% pagination = yield :pagination %>
    <% unless pagination.blank? %>
      <div class="page-nav">
        <p>
          <%= pagination %>
        </p>
      </div>
    <% end %>
    <div class="content">
      <%= second_menu %>
    </div>
  </aside>
</section>


<%= render 'no_cms/admin/shared/console_log' %>


<%= javascript_include_tag "no_cms/admin/application" %>
<%= yield :js %>
<%= render 'no_cms/admin/shared/extra_javascripts' %>
<script type="text/javascript">
  $(function(){
    <%= yield :ready_js %>
  });
</script>

</body>
</html>
