<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NºCMS</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.css">
  <%= stylesheet_link_tag  "no_cms/admin/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<% second_menu = yield :second_menu %>

<body <%= raw 'class="col-1-only"' if second_menu.blank? %>>

<section id="content-area">
  <div class="tool-bar">
    <a href="#" class="ico-back">«</a>
    <a href="#" class="ico-next">»</a>
    <a href="#" class="btn right">Save</a>
    <a href="#" class="btn right">Save and new</a>
    <a href="#" class="btn right">Hide</a>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <div class="advanced">
    <p class="title collapsed">Opciones avanzadas</p>
    <div>
      Ojete
    </div>
  </div>
</section>


<section id="interface">
  <header id="main-header">
    <div class="logo">
      <%= link_to image_tag("no_cms/admin/NoCMS_logo.svg", alt: "NoCMS Rules", width: "94px", height: "44px"), root_path, class: 'logo' %>
    </div>
    <a href="#" class="btn right ico-logout">LOGOUT</a>
  </header>

  <aside id="col-1">
    <div class="tool-bar">
      <%= render 'no_cms/admin/shared/locales' %>

    </div>
    <div class="content">
      <%= render partial: 'no_cms/admin/shared/menu_item', collection: NoCms::Admin.menu_items, layout: 'no_cms/admin/shared/menu_items', as: :menu_item %>
    </div>
  </aside>

<% unless second_menu.blank? %>
  <aside id="col-2">
    <div class="tool-bar">
      <a href="#" id="js-expand-col-2" class="ico-expand" title="Expand page listing"></a>
      <a href="#" id="js-collapse-to-minimun" class="ico-close" title="Close page listing"></a>
      <a href="#" id="js-filter" class="ico-filter" title="Filter"></a>
      <a href="#" id="js-add-new" class="right ico-add accent" title="Add new page"></a>
    </div>
    <% pagination = yield :pagination %>
    <% unless pagination.blank? %>
      <div class="page-nav">
        <p>
          <%= pagination %>
        </p>
      </div>
    <% end %>
    <div class="content">
      <%= second_menu %>
    </div>
  </aside>
  <% end %>
</section>


<section id="log-bar">
  Log / Info messages go here!
</section>


<div id="mini-options"> ^ v x o </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<%= javascript_include_tag "no_cms/admin/application" %>
</body>
</html>


</body>
</html>
